{{ define "main" }}

<section class="container">
  {{ partial "components/back" (dict "text" "Home" "href" "/") }}

  <h1 class="text-center my-5">{{ .Title }}</h1>
  
  <div class="w-100 d-flex justify-content-center flex-wrap">
    {{ range $key, $value := .Site.Taxonomies.tags }}
    <a href="/tags/{{ $key }}">
      <h5><span class="badge badge-lg badge-light m-1">#{{ $key }}</span></h5>
    </a>
    {{ end }}
  </div>
  
  <div class="row">
    {{ range .Pages }}
      <div class="col-lg-4 col-md-6 col-12 mb-3">
        {{ partial "components/postcard" . }}
      </div>
    {{ end }}
  </div>

</section>

{{ end }}
