{{ define "main" }}

<main class="container" style="padding-left: 10vw; padding-right: 10vw;">
    <section class="py-5">
        <h1 class="text-center">{{ .Title }}</h1>
    </section>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        {{ range .Pages }}
        <div class="card border-0">
            <div class="card-body">
                <a href="{{ .URL }}">
                    {{ if isset .Params "feature_img" }}
                    <img src="{{ .Params.feature_img }}" class="img-fluid rounded" alt="{{ .Title }}">
                    {{ else }}
                    <img src="/images/primary.jpg" class="img-fluid rounded" alt="{{ .Title }}">
                    {{ end }}

                    <span class="h5 mt-4">{{ .Title }}</span>
                </a>

                <div class="d-flex flex-wrap text-uppercase">
                    {{ range .Params.tags }}
                        <a href="/tags/{{ . }}">
                            <span class="badge bg-dark m-1">{{ . }}</span>
                        </a>
                    {{ end }}
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</main>

{{ end }}