{{ define "main" }}


<section class="container">
  {{ partial "components/back" (dict "text" "Blog" "href" "/blog") }}

  <div class="text-center my-5">
    <h1>{{ .Title }}</h1>
    <div class="text-muted">
      Posted on {{ .Date.Format "2 January, 2006" }}
      {{ if .Params.series }}
        in series <a class="text-dark" href="/series/{{ .Params.series | urlize }}">{{ .Params.series }}</a>
      {{ end }}
    </div>
    {{ range .Params.tags }}
      <a href="/tags/{{ . }}">
        <span class="badge badge-light">#{{ . }}</span>
      </a>
    {{ end }}
  </div>

  <main class="d-flex flex-column align-items-center">
    {{ if isset .Params "feature_img" }}
    {{ range .Resources.Match .Params.feature_img }}
      <img src="{{ .RelPermalink }}"
        class="mx-auto d-block my-4" style="max-width:890px;width:100%;height:auto;border-radius:6px;" alt="featured image">
    {{ end }}
    {{ end }}

    <article>
      {{ .Content }}
    </article>
  </main>
</section>

<div class="container">
  <div class="row">
    {{ partial "components/comments" . }}
  </div>

  {{ if .Params.series }}
    {{ $s := .Params.series  }}
    {{ $slug := $s | urlize }}

    <div class="row">
      <a href="/series/{{ $slug }}" class="text-dark">
        <h4 class="d-inline">
          Series {{ $s }}
          <i class="fas fa-angle-double-right"></i>
        </h4>
      </a>
    </div>

    {{ $series := index .Site.Taxonomies.series $slug }}
    <div class="row">
    {{ range $series.Pages }}
      <div class="col-lg-4 col-md-6 col-12 mb-3">
        {{ partial "components/postcard" . }}
      </div>
    {{ end }}
    </div>
  {{end}}
</div>

{{ end }}
