<!DOCTYPE html>

<html lang="en-US">
<head>
  <title>
    {{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
    {{ if .IsHome }}
      {{ .Site.Title }}
    {{ else }}
      {{ .Title }} | {{ .Site.Title }}
    {{ end }}
  </title>
  
  {{ partial "header" . }}
  {{ partial "seo_schema.html" . }}
</head>
<body class="animate__animated animate__fadeIn">
  {{ block "body" . }}
    {{ partial "navbar" . }}
    {{ block "main" . }}{{ end }}
  {{ end }}

  {{ partial "scripts" . }}
</body>
</html>
