<!-- Schema.org for Google -->
<meta itemprop="name" content="{{ .Title }}">
<meta itemprop="description" content="A collection of thoughts, tutorials, and experiences">
<!-- Open Graph general (Facebook, Pinterest & Google+) -->
<meta property="og:title" content="{{ .Title }}">
<meta property="og:description" content="A collection of thoughts, tutorials, and experiences">
<meta property="og:type" content="website">
<meta property="og:image" content="{{ .Site.BaseURL }}{{ if isset .Params "feature_img" }}{{ .Param "feature_img" }}{{ else }}assets/neko.jpg{{ end }}">
<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ .Title }}">
<meta name="twitter:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ end }}{{ end }}">
<!-- Open Graph - Article -->
<meta property="article:author" content="{{ .Site.Params.Author.name }}">
