{{ define "main" }}

<main class="container g-0 px-3 p-sm-5">
    <section class="row my-5">
        <div class="col-12 col-lg-4 d-flex flex-column align-items-center">
            <img src="/images/face.jpg" class="rounded-circle mb-4" style="max-width: 12em; height: auto;">
            <div class="d-flex flex-wrap justify-content-center">
            {{ range .Site.Params.links }}
                <a href="{{ .href }}" class="p-1">
                    <i class="{{ .icon }}"></i>
                    <span>{{ .name }}</span>
                </a>
            {{ end }}
            </div>
        </div>
        <div class="col-12 col-lg-8">
            <h1 class="fw-900">hello! i'm vikrant</h1>
            <p>
                I'm a undergrad student at DJ Sanghvi College of Engineering.
                My research interests lie in Programming Languages, Functional Programming,
                and Compiler Design. I'm currently applying to grad school for further studies.
                <br><br>
                For the first 3 years of my undergrad program I focused on software development - for
                freelance, internships, college, and competitions. Consequently,
                I'm a pretty good full stack developer.
                <br><br>
                I'm open to people to talk about software engineering and my fields of interest.
                If you wish to talk you can shoot me an e-mail or message me on LinkedIn.
            </p>
        </div>
    </section>

    <hr>

    <section class="row my-5">
        <h2>On-going Projects</h2>
        {{ $projs := (where .Site.RegularPages "Section" "projects") }}
        {{ range $projs }}
        <div class="col-xs-12 col-md-4 p-1">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ .Title }}</h5>
                </div>
            </div>
        </div>
        {{ end }}
    </section>

    <section class="row my-5">
        <h2>Activity</h2>
        {{ $activities := (where .Site.RegularPages "Section" "activities") }}
        {{ range $activities}}
            <div class="row">
                <div class="col-4">
                    <i>{{ .Date.Format "02-Jan-06" }}</i>
                </div>
                <div class="col-8">
                    {{ .Content }}
                </div>
            </div>
        {{ end }}
    </section>

</main>

{{ end }}
