<section class="skin">
    I'm a undergrad student at DJ Sanghvi College of Engineering. My research interests lie in 
    <b>Programming Languages, Functional Programming, and Compiler Design</b>. I'm currently
    applying to grad school for further studies.
    <br><br>
    For the first 3 years of my undergrad program I focused on software development - 
    for freelance, internships, college, and competitions. Consequently, I'm a
    pretty good full stack developer.
    <br><br>
    I'm open to people to talk about software engineering and my fields of interest.
    If you wish to talk you can shoot me an e-mail using the form below or message me on LinkedIn.
</section>
