{{ partial "header.html" . }}
{{ partial "home/sidebar.html" . }}

<div class="main-content">
	{{ if .Site.Data.experience }}{{ partial "home/experience.html" . }}{{ end }}
	{{ if .Site.Data.skills }}{{ partial "home/skills.html" . }}{{ end }}
</div>

<div style="z-index: 4; position: relative;">
	{{ if gt (len (where .Data.Pages "Type" "posts")) 0 }}{{ partial "home/blog.html" . }}{{ end }}
	{{ if .Site.Data.projects }}{{ partial "home/projects.html" . }}{{ end }}
</div>

<div class="main-content">
	{{ partial "home/contact.html" . }}		
</div>

{{ partial "footer-scripts.html" . }}
